/* reset predefined styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* set variables for colors and spaces */
:root{
    --c-details : #D82784;
    --c-contrast : #1B0033;
    --c-main : #EADEF3;
    --c-button : #F5BDDB;

    --space-05 : .5em;
    --space-1 : 1em;
    --space-2 : 2em;
    --space-3 : 3em;
    --space-4 : 4em;

}

/* class utilities for flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

/*rajoutés*/
.flex-row{
  flex-direction: row;
}
.flex-wrap{
  flex-wrap: wrap;
}
.padding{
  padding: 1.5em;
}

body {  
    font-size : 12px;
    font-family: "Inter", sans-serif;
    font-style: "bold";
    background-color : var(--c-main);

  #avatar{
    display: flex;          
    align-items: center;     
    gap: var(--space-05);              
  }

  /*slider on off*/
  .switch {
    position: relative;
    display: inline-block;
    width :30px;    
    height: 16px;   
  }

  /* Masquer l'input*/
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* fond du toggle*/
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;         
    cursor: pointer;
    transition: 0.3s;
  }

  /* rond qui slide */
  .slider::before {
    content: "";
    position: absolute;
    width: 14px;              
    height: 14px;
    left: 1px;                  
    bottom: 1px;
    background-color: #fff;
    border-radius: 50%;       
    transition: 0.3s;
  }

  /* on */
  input:checked + .slider {
    background-color: var(--c-contrast);   /* couleur du fond quand c'est activé */
  }

  /*le rond va vers la droit qd on appuie dessus*/
  input:checked + .slider::before {
    transform: translateX(14px); 
  }
  /*lamps menu deroulant*/
  #lamps{
    color:var(--c-main);
    background-color: var(--c-details); /*j'arrive pas a arrondir le menu en entier*/
    stroke: var(--c-contrast);
    stroke-width: 0.6em;
    padding: 0.75em;
  }

  #lamps-toggle{
    display: flex;
    gap: var(--space-1);
    padding: 0.75em;
  }

  #default-lamp-text{
    padding: 0.75em;
    stroke-width: 0.6em;
    stroke: var(--c-contrast);
  }

  /*adjust brightness*/
   #adjust-brightness{
    size: var(--space-05);
    gap: var(--space-1);
  }

  /*arranger le style*/
  #brightness{
    accent-color: var(--c-details);
  }

  /*box de couleurs*/
  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
  align-items: center;
  gap: var(--space-1);                    
  border: 1px solid var(--c-contrast);
  background-color: #EADEF3;
  padding: 1em;
  margin: 2em auto;
  width: 90%;                   
  max-width: 20em;               
  height: auto;                 
 
}

  .light-color {
    width: var(--space-2);
    height: var(--space-2);
    border-radius: var(--space-05);
    border: 1px solid var(--c-contrast);
    cursor: pointer;
    
  }
  #light-color {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  #button-add-color{
    width: 10em;             
    padding: 0.5em;
    border-radius: 1em;
    background: var(--c-button);
    color: var(--c-details);
    border: 1px solid var(--c-contrast);
    display: block;
    margin: 1em auto;        
    text-align: center;


  }


  
  #alwan-color-picker{
    display: flex;
    justify-content: center;
  }
  



}